input, textarea {
    display: block;
    padding: 1rem;
    margin-bottom: 1rem;
}

button[type="submit"] {
    padding: 0.5rem;
}
label { 
    display: block;
}

.grid {
  border: 2px blue solid;
  display: grid;
  width: 90vw;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-content: space-evenly;
  gap: 1rem 1rem;
}

.member {
    border: 2px orange solid;
}

.member > img {
    width: 100%;
    height: auto;
    border: 2px red solid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.member > h3, p {
    text-align: center;
}