:root {
  --background-color: rgb(47, 47, 47);
  --font-color: rgb(253, 253, 253);
  --sub-font-color: rgb(87, 133, 233);
  --font-size: 1rem;
  --header-height: 100px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Arvo", serif;
}

html {
  scroll-behavior: smooth;
  color: var(--font-color);
}

body {
  background-color: var(--background-color);
}

main {
  padding-top: calc(var(--header-height) + 20px);
}

h2 {
  font-size: 3rem;
}

.sections {
  padding: 13vh 0;
  margin: 5vh 0;
}

/*------------------HEADER-------------------*/

#header {
  color: var(--font-color);
  background-color: var(--background-color);
  height: var(--header-height);
  width: 100vw;
  padding: 10px 15px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  /* border-bottom: 1px solid rgb(126, 126, 126); */
  box-shadow: 0 0 15px 0 rgb(0, 0, 0);
}

#company-name {
  min-width: 200px;
  height: var(--header-height);
  line-height: var(--header-height);
  text-align: center;
  font-family: "Racing Sans One", cursive;
  font-size: 2.4rem;
  color: rgb(233, 87, 87);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.479), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

#navigation {
  min-width: 60vw;
}

.menu {
  height: var(--header-height);
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
}

li > a {
  text-decoration: none;
  color: inherit;
  font-size: 1.1rem;
  padding: 15px 10px;
  text-shadow: 1px 1px 3px rgb(83, 83, 83);
  font-weight: bolder;
}

li > a:hover {
  color: rgb(233, 87, 87);
}

.menu-icon {
  display: none;
}

.bar {
  background-color: var(--font-color);
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
}

/*------------------TAGLINE------------------------*/

#tagline-section {
  width: 100%;
  height: 90vh;
  position: relative;
}

.fading {
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 60%;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgb(47, 47, 47, 1) 100%
  );
}

.slideshow {
  width: 100%;
  height: inherit;
  object-fit: fill;
  opacity: 0.5;
  filter: opacity(80%);
}

.slideshow:first-of-type,
.slideshow:last-of-type {
  filter: blur(1px) opacity(75%);
}

#tagline-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: lighter;
}

#tagline-button {
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: var(--font-size);
}

/*------------------ABOUT US------------------------*/

#about {
  margin-left: 4rem;
}

#about > p {
  font-size: 2rem;
  margin: 2rem 9rem 2rem 0rem;
  text-align: left;
}

.refer-title {
  color: rgb(233, 87, 87);
}

/*------------------MEMBERS------------------------*/

#members {
  background-color: var(--font-color);
  color: var(--background-color);
}
#members > h2 {
  margin-left: 4rem;
}

.grid {
  display: grid;
  width: 90vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-content: space-between;
  gap: 1rem 1.5rem;
}

.member > img {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 5px solid var(--background-color);
}

.member > h3,
p {
  text-align: center;
}

.member > h3 {
  color: var(--sub-font-color);
}

/*------------------SERVICES------------------------*/

#our-services {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;
}

.services-icons {
  width: 18%;
  display: block;
  margin: 0 auto;
  padding: 80px 0 40px 0;
}

.service {
  margin: 40px 0;
  background-color: var(--background-color);
  border: 5px solid var(--font-color);
  width: 300px;
  height: 325px;
  padding: 5px;
}

.service > h3 {
  font-size: 1.3rem;
  text-align: center;
  padding-bottom: 15px;
  color: var(--sub-font-color);
}

#logos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
}

#logos > figure {
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: column;
}

#logos > figure > figcaption {
  display: block;
  margin: auto auto;
  color: rgb(248, 207, 72);
}

#tech-stack {
  width: 100%;
  background-color: var(--font-color);
  color: var(--background-color);
  margin-top: 40px;
  padding: 40px 0;
}

#tech-stack > h3 {
  text-align: center;
  font-size: 1.5rem;
}

.stack-icons {
  width: 15%;
  display: block;
  margin: 40px auto 10px auto;
}

/*------------------CONTACT------------------------*/

.required:after {
  content: " *";
  color: red;
}

#contact {
  background-color: rgb(253, 253, 253);
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 40px solid rgba(99, 98, 98, 0.863);
  border-radius: 2%;
  border-image: url(./assets/checkered-pattern.png) 70 round;
}

input,
textarea {
  display: block;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  width: 70%;
}

input:focus,
textarea:focus {
  background-color: rgb(248, 207, 72);
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container > button[type="submit"] {
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--sub-font-color);
  border-radius: 5%;
  border: none;
  color: var(--font-color);
  padding: 0.5rem 1em 0.5rem 1rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

#contact > h2 {
  font-size: 3rem;
  display: block;
  color: rgb(47, 47, 47);
  text-align: center;
  padding: 2rem;
}

form > label {
  display: block;
  font-weight: bold;
  color: rgb(47, 47, 47);
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

/*------------------FOOTER------------------------*/

footer {
  text-align: center;
}
footer > small > a {
  color: rgb(253, 253, 253);
  text-decoration: underline;
}

/*------------------MEDIA QUERY------------------------*/

/*Tablet and mobile*/

@media (max-width: 820px) {
  .menu {
    width: 100%;
    height: fit-content;
    line-height: 60px;
    position: fixed;
    left: -100%;
    top: var(--header-height);
    display: block;
    color: var(--font-color);
    background-color: rgba(99, 98, 98, 0.863);
    text-align: center;
  }

  .menu.active {
    left: 0;
  }

  #navigation {
    position: relative;
  }

  .menu-icon {
    position: absolute;
    top: 35px;
    right: 60px;
    display: block;
    cursor: pointer;
  }

  #company-name {
    font-size: 1.7rem;
    min-width: 150px;
  }

  #contact {
    width: 90vw;
  }
}
