:root {
  --background-color: rgb(47, 47, 47);
  --font-color: rgb(253, 253, 253);
  --font-size: 1rem;
  --header-height: 100px;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  color: var(--font-color);
}

body {
  background-color: var(--background-color);
}

main {
  padding-top: calc(var(--header-height) + 20px);
}

/*------------------HEADER-------------------*/

#header {
  color: var(--font-color);
  background-color: rgb(47, 47, 47);
  height: var(--header-height);
  width: 100vw;
  padding: 10px 15px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

#company-name {
  min-width: 200px;
  height: var(--header-height);
  line-height: var(--header-height);
  text-align: center;
}

#navigation {
  min-width: 60vw;
}

.menu {
  height: var(--header-height);
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
}

li > a {
  text-decoration: none;
  color: inherit;
  padding: 15px 10px;
}

.menu-icon {
  display: none;
}

.bar {
  background-color: var(--font-color);
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
}

/*------------------TAGLINE------------------------*/

#tagline-section {
  width: 100%;
  height: 90vh;
  position: relative;
}

.slideshow {
  width: 100%;
  height: inherit;
  object-fit: fill;
  opacity: 0.5;
}

#tagline-text,
#tagline-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
}

#tagline-button {
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: var(--font-size);
}

/*------------------CONTACT------------------------*/

input,
textarea {
  display: block;
  padding: 1rem;
  margin-bottom: 1rem;
}

button[type="submit"] {
  padding: 0.5rem;
}
label {
  display: block;
}

/*------------------MEDIA QUERY------------------------*/

/*Tablet and mobile*/

@media (max-width: 820px) {
  .menu {
    width: 100%;
    height: fit-content;
    line-height: 60px;
    position: fixed;
    left: -100%;
    top: var(--header-height);
    display: block;
    color: var(--font-color);
    background-color: rgba(99, 98, 98, 0.863);
    text-align: center;
  }

  .menu.active {
    left: 0;
  }

  #navigation {
    position: relative;
  }

  .menu-icon {
    position: absolute;
    top: 35px;
    right: 60px;
    display: block;
    cursor: pointer;
  }

  #company-name {
    font-size: 1.7rem;
    min-width: 150px;
  }
}
