:root {
  --background-color: rgb(47, 47, 47);
  --font-color: rgb(253, 253, 253);
  --font-size: 1rem;
  --header-height: 100px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Sanchez", serif;
}

html {
  scroll-behavior: smooth;
  color: var(--font-color);
}

body {
  background-color: var(--background-color);
}

main {
  padding-top: calc(var(--header-height) + 20px);
}

h2 {
  font-size: 4rem;
}

/*------------------HEADER-------------------*/

#header {
  color: var(--font-color);
  background-color: rgb(47, 47, 47);
  height: var(--header-height);
  width: 100vw;
  padding: 10px 15px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

#company-name {
  min-width: 200px;
  height: var(--header-height);
  line-height: var(--header-height);
  text-align: center;
}

#navigation {
  min-width: 60vw;
}

.menu {
  height: var(--header-height);
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
}

li > a {
  text-decoration: none;
  color: inherit;
  padding: 15px 10px;
}

.menu-icon {
  display: none;
}

.bar {
  background-color: var(--font-color);
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
}

/*------------------TAGLINE------------------------*/

#tagline-section {
  width: 100%;
  height: 90vh;
  position: relative;
}

.slideshow {
  width: 100%;
  height: inherit;
  object-fit: fill;
  opacity: 0.5;
}

#tagline-text,
#tagline-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
}

#tagline-button {
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: var(--font-size);
}

/*------------------ABOUT US------------------------*/

#about {
  margin-left: 4rem;
}

#about > p {
  font-size: 2rem;
  margin: 2rem 9rem 2rem 0rem;
  text-align: left;
}

/*------------------MEMBERS------------------------*/

#members > h2 {
  margin-left: 4rem;
}

.grid {
  display: grid;
  width: 90vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-content: space-between;
  gap: 1rem 1rem;
}

.member > img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.member > h3, p {
    text-align: center;
}

/*------------------SERVICES------------------------*/

#our-services {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
}

.services-icons {
  width: 15%;
  display: block;
  margin: 0 auto;
}

.service {
  background-color: rgb(160, 160, 160);
  width: 300px;
}

.service > h3 {
  text-align: center;
}

#logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.stack-icons {
  width: 10%;
}

/*------------------CONTACT------------------------*/

  .required:after {
    content:" *";
    color: red;
  }

#contact {
  background-color: rgb(253, 253, 253);
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border:2px solid rgba(99, 98, 98, 0.863);
  border-radius: 2%;
}

input,
textarea {
  display: block;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  width: 70%;
}

input:focus, textarea:focus {
  background-color: rgb(248, 207, 72);
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container > button[type="submit"] {
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(41, 41, 235);
  border-radius: 5%;
  color:rgb(253, 253, 253);
  padding: 0.5rem 1em 0.5rem 1rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

#contact > h2 {
  font-size: 3rem;
  display: block;
  color:rgb(47, 47, 47);
  text-align: center;
  padding: 2rem;
}

form > label {
  display: block;
  font-weight: bold;
  color:rgb(47, 47, 47);
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

/*------------------FOOTER------------------------*/

footer {
  text-align: center;
}
footer > small > a {
  color: rgb(253, 253, 253);
  text-decoration: underline;
}

/*------------------MEDIA QUERY------------------------*/

/*Tablet and mobile*/

@media (max-width: 820px) {
  .menu {
    width: 100%;
    height: fit-content;
    line-height: 60px;
    position: fixed;
    left: -100%;
    top: var(--header-height);
    display: block;
    color: var(--font-color);
    background-color: rgba(99, 98, 98, 0.863);
    text-align: center;
  }

  .menu.active {
    left: 0;
  }

  #navigation {
    position: relative;
  }

  .menu-icon {
    position: absolute;
    top: 35px;
    right: 60px;
    display: block;
    cursor: pointer;
  }

  #company-name {
    font-size: 1.7rem;
    min-width: 150px;
  }

  #contact {
    width: 90vw;
  }
}
